.App {
    font-family: "Trebuchet MS",
    "Lucida Sans Unicode",
    "Lucida Grande",
    "Lucida Sans",
    Arial,
    sans-serif;
    padding: 20px;
    border: #DFE2E5 solid 1px;
    border-radius: 5px;
    margin: 10px;
}

.App h2 {
  padding-top: 20px;
}
.Weather .dates {
  text-align: center;
}

.Weather .search-form {
  margin-bottom: 40px;
  margin-top: 40px;
}

.Weather .units {
  position: relative;
  top: -15px;
  font-size: 17px;
}